<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962729466156-pqn0aqf56ggl5etd47v6gu22830b03qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962729466156-pqn0aqf56ggl5etd47v6gu22830b03qi</string>
	<key>API_KEY</key>
	<string>AIzaSyCezt7wy9uBHPWsF8zzaSC2xB6RsoEeGk8</string>
	<key>GCM_SENDER_ID</key>
	<string>962729466156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.ricmonteverde.base.ios.swiftui-starter</string>
	<key>PROJECT_ID</key>
	<string>swiftui-starter</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-starter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962729466156:ios:760e5d06c55cf6341cf489</string>
</dict>
</plist>